@mixin background-cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin absolute-cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin absolute-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@mixin absolute-center-x{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute-center-y{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin flex-center{
    display: flex!important;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-y{
    display: flex!important;
    align-items: center;
}
.flex-center-y{ @include flex-center-y }

@mixin flex-center-x{
    display: flex!important;
    justify-content: center;
    align-items: flex-start;
}

@mixin object-cover{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@mixin float-left{
    float: left;
}
@mixin float-right{
    float: right;
}

@mixin appearance-none{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
