/*@import '~bootstrap/scss/bootstrap';*/
.p-0{
    padding: 0 !important;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
textarea {
    resize: none;
}



.bg-modal-a{
    background-image: url('../images/modal/1/back_green.jpg');
    overflow: hidden;
    position: relative;
}
.bg-modal-b{
    background-image: url('../images/modal/cardenxe/back.jpg');
    background-position: bottom;
    background-size: cover;
}
.bg-menu{
    background-image: url('../images/modal/bg-menu.png');
    background-size: cover;
}
.bg-modal-popup{
    background-image: url('../images/modal/fondopopup.png');
    overflow: hidden;
    position: absolute;
    width: 25vw;
    /*        height: 60vh;*/
    top: calc(36% - 15vh);
    left: calc(50% - 12.5vw);

    @include media-breakpoint-down(sm) {
        width: 90vw;
        height: 60vh;
        top: calc(36% - 15vh);
        left: calc(50% - 45.5vw);
    }
    .btn-primary{
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }
}

.popupModal{
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    .modal-dialog{
        margin-left: auto;
        margin-right: auto;
    }
    .modal-content{
        height: 100vh;
    }
    .modal-body{
        padding: 0;
    }
    h2{
        margin-bottom: 0.9rem;
    }
    p{
        font-size: 1.15rem;
        margin-bottom: 1.5rem;
        @include media-breakpoint-down(sm) {
            font-size: .85rem;
            line-height: 1.5rem;
        }
    }
    .mb-title{
        margin-bottom: 2.75rem;
    }
    .containerpopup{
        position: relative;

        .close {
            position: absolute;
            z-index: 99;
            right: 1rem;
            top: 1rem;
            img {
                width: 2rem;
            }
        }

        @include media(lg){
            max-width: 100%;
            max-height: 100%;

        }
        max-width: 100%;
        z-index: 1;
        position: relative;
        /*.row{
            justify-content: center;

        }*/
        .sotopopup{
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 2rem;
            //width: 30%;
            width: 10.9rem;
            transform: translateX(0.75rem);
        }
        h2{
            color: #FFFFFF;
            font-size: 4rem;
            line-height: 3.25rem;
            margin-top: 1rem;
            //font-size: 2.4rem;
            //line-height: 2.6rem;

            font-weight: 250;
            @include media-breakpoint-up(md) {


            }
        }
        p{
            color: #FFFFFF;
            line-height: 1.5rem;
            font-size: 1rem;
            margin-top: 8%;
        }
        button{
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 70%;
            border:none;
            padding: .8rem;
        }
        .form-control-plaintext{
            width: 70%;
            padding: .5rem;
            background: #FFFFFF;
            border-radius: 5px;
            border: none;

        }
    }
}
.modal-wrap{
    .header-landing{
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        .idiom{
            @include media-breakpoint-down(sm) {
                display: flex;
                align-items: center;
                padding: 0.5rem 0.7rem;
            }
            a{
                color: #000;
                margin-right: 1rem;
            }
        }
        .btn-primary{
            border-radius: 0;
            padding: 0.5rem 1.7rem;
            color: #fff !important;
            text-align: center;
            @include media-breakpoint-down(sm) {
                font-size: .85rem;
                padding: 0.5rem 0.7rem;
            }
        }

    }
    .mx-auto{
        margin: auto;
    }
    .btn-primary{
        text-align: center;
    }
    h1{
        color: $orangeT3;
        font-size: 5.2vw;
        line-height: 5.4vw;
        letter-spacing: 5px;

        @include media-breakpoint-down(sm) {
            font-size: 12.2vw;
            line-height: 10.4vw;
        }

    }
    h2{
        color: $orangeT3;
        font-size: 3.7rem;
        line-height: 4.25rem;
        letter-spacing: 3px;
        font-weight: 300;
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
            font-size: 2.4rem;
            line-height: 2.6rem;
        }
    }
    h4{
        font-size: 3.3vw;
        font-weight: 300;
        color: #334036;
        @include media-breakpoint-down(sm) {
            font-size: 8.3vw;
            line-height: 9.2vw;
        }

    }
    h5{
        font-size: 2.6rem;
        font-weight: 300;
    }
    h6{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .p{
        @include media-breakpoint-down(sm) {
            font-size: .85rem;
        }
    }
    .data{
        margin-top: 3rem;
        @include media(lg){
            padding-left: 2.1rem;

        }
    }
    .btn-primary{
        color: #fff;
        background: $orangeT3;
        border: none;
        padding: 0.5rem 3.5rem;
        border-radius: 0.7rem;
        font-size: 1rem;
        font-weight: 500;
    }
    .pt-l{
        padding-top: 10rem;
    }
    .pt-m{
        padding-top: 5rem;
    }
    .mt--s{
        margin-top: -3rem;
    }
    .mb-m{
        margin-bottom: 5rem;
        @include media-breakpoint-down(sm) {
            margin-bottom: 2rem;
        }
    }
    .mb-l{
        margin-bottom: 12rem;
        @include media-breakpoint-down(sm) {
            margin-bottom: 6rem;
        }
    }
    .mb-title{
        margin-bottom: 3.5rem;
    }
    .txt-white{
        color: $white !important;
    }
    .deco{
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .sotol{
        width: 12rem;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }
    .hoja{
        @include media(lg){
            margin-top: -3rem;
        }
        img{
            width: 37rem;
            display: block;
            &.img-l{
                margin-right: auto;
                margin-left: -19.25rem;
                @include media-breakpoint-down(sm) {
                    margin-left: -11.85rem;
                    max-width: 200%;
                }

            }
            &.img-r{
                margin-left: auto;
                margin-right: -19.25rem;
                @include media-breakpoint-down(sm) {
                    margin-right: -11.85rem;
                    max-width: 200%;
                }
            }
        }
    }

    .collection-wrap{
        h2{
            color:#334036
        }
        .row{
            z-index: 5;
        }

        p{
            font-size: 1vw;
            color: #334036;
            text-align: justify;
            line-height: 1.5rem;
            @include media-breakpoint-down(sm) {
                font-size: 1.1rem;
                text-align: left;
                line-height: 1.75rem;
                margin-top: 1rem;
            }

        }


        .deco-top{
            top: -13.5%;
            width: 121%;
            position: absolute;
        }
        .deco-bottom{
            bottom: -36%;
            width: 100%;
            position: absolute;
            @include media-breakpoint-down(sm) {
                bottom: 0;
            }
        }
    }
    .caddenxe-wrap{
        .row{
            p{
                font-size: 1rem;
                line-height: 2rem;
                text-align: justify;
            }

        }

    }
    .mb-title-popup{
        margin-bottom: .5rem;
    }

    .required-c{
        position: absolute;
        right: 0;
        top: -1px;
        color: red;
    }
    .position-relative{
        position: relative
    }
}
.modal-dialog{
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    .modal-content{
        height: 100vh;
    }
    .modal-body{
        padding: 0;
    }
}
.modal{
    .container{
        @include media(lg){
            max-width: 996px;
        }
        max-width: 77%;
        z-index: 1;
        position: relative;
    }
    .close{
        position: fixed;
        z-index: 99;
        right: 3.5rem;
        top: 3.5rem;
        @include media-breakpoint-down(sm) {
            right: 2.5rem;
            top: 2.5rem;
        }
        img{
            width: 4.5rem;
            @include media-breakpoint-down(sm) {
                width: 3rem;
            }

        }
    }
    .modal-content{
        background: transparent;
        border: none;
    }
    .caddenxe-wrap{
        padding: 0 3rem;
        padding-top: 7rem;
        max-width: 1122px;
        hr{
            margin: 2rem 0;
        }
        h1{
            font-size: 4rem;
            line-height: 3.5rem;
            letter-spacing: inherit;
            margin-bottom: 3rem;
        }
        h4{
            font-size: 2.5rem;
            font-weight: 300;
        }
        p{
            font-size: 1rem;
            font-weight: 300;
            color: $greenT2;
            margin-bottom: 1rem;
        }

        @include media(lg){
            padding: 0 1rem;
            padding-top: 7rem;
            hr{
                margin: 4rem 0;
            }
            h1{
                font-size: 8.5rem;
                line-height: 7.5rem;
                letter-spacing: 5px;
                margin-bottom: 9rem;
            }
            h4{
                font-size: 3.0rem;
                line-height: 3.0rem;
                margin-bottom: 1rem;
            }
            p{
                font-size: 1vw;
                line-height: 1.3rem;
            }
        }
    }
    &.essence{
        .sotol{
            width: 7.5rem;
            margin-bottom: 1.5rem;
            margin-top: 0;
        }
        @include media(lg){
            .pl-essence{
                padding-left: 3.2rem;
            }
            .pr-essence{
                padding-right: 3.2rem;
            }
            .sotol{
                width: 13.5rem;
            }
        }
    }
    &.cocktails{
        h1{
            margin-bottom: 2rem;
        }
        .subtitle{
            font-size: 2.75rem;
            line-height: 3rem;
            text-align: center;
            margin: auto;
            display: block;
        }
        .sotol{
            width: 13.5rem;
            margin-bottom: 1.5rem;
            margin-top: 0;
        }
        @include media(lg){
            .subtitle{
                width: 60%;
            }
        }
    }
    &.terroir{
        h2{
            margin-bottom: 0.9rem;
        }
        p{
            font-size: 1.15rem;
            margin-bottom: 1.5rem;
            @include media-breakpoint-down(sm) {
                font-size: .85rem;
                line-height: 1.5rem;
            }
        }
        .mb-title{
            margin-bottom: 2.75rem;
        }
    }
    &.sotol-modal{
        background: linear-gradient(0deg, #8F9183 -35.22%, #F2F4E6 65.29%);
        h2{
            font-size: 7.25rem;
            line-height: 6.1rem;
            margin-bottom: 2.5rem;
            @include media-breakpoint-down(sm) {
                font-size: 2.85rem;
                line-height: 2.9rem;
            }
        }
        p{
            font-size: 1rem;
            @include media-breakpoint-down(sm) {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
    &.collection{
        h1{
            font-size: 4rem;
            line-height: 3.5rem;
            letter-spacing: 0;
            margin-bottom: 4.5rem;
        }
        h2{
            font-size: 3.5rem;
            line-height: 3.5rem;
            font-weight: 400;
            margin-bottom: 1.25rem;
        }
        h5{
            font-size: 2.7rem;
            font-weight: 400;
        }
        h6{
            font-size: 1.1rem;
            color: #000;
            font-weight: 500;
        }
        p{
            font-weight: 400;
        }
        .b-sierra{
            @include media(lg){
                transform: translateX(1.4rem);
                width: 150%;
                float: left;
            }
        }
        .b-desierto{
            transform: translateX(0.75rem);
            @include media(lg){
                width: 23rem;
            }
        }

        @include media(lg){
            h1{
                font-size: 8.75rem;
                line-height: 7.5rem;
                letter-spacing: 5px;
                margin-bottom: 10.5rem;
            }
            h2{
                font-size: 3.5rem;
                line-height: 4.5rem;
                margin-bottom: 1.75rem;
            }
            .b-sierra{
                width: 122%;
                transform: translateX(-2.5rem);
            }
            .b-desierto{
                width: 122%;
                transform: translateX(-3rem);
            }
        }
    }


}
.landing-wrap{
    padding: 0 3rem;
    padding-top: 7rem;
    max-width: 900px;
    margin: auto;
    hr{
        margin: 2rem 0;
    }
    h1{

        line-height: 3.5rem;
        letter-spacing: inherit;
        @include media-breakpoint-down(sm) {
            font-size: 3.5rem;
        }
        //margin-bottom: 3rem;

        @include media-breakpoint-up(sm) {
            font-size: 4rem;
        }
    }
    h4{
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
    p{
        font-size: 1rem;
        font-weight: 300;
        color: $greenT2;
        margin-bottom: 1rem;
    }
    .sotol{
        width: 10.5rem;
        margin-bottom: 1.5rem;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .sub{
        margin-left: 150px;
        margin-right: 150px;
    }

    @include media(lg){
        padding: 0 1rem;
        padding-top: 7rem;
        hr{
            margin: 4rem 0;
        }
        h1{

            font-size: 5.5rem;
            line-height: 4.5rem;
            letter-spacing: 0px;
        }
        h4{
            font-size: 1.7rem;
            line-height: 2.3rem;
            margin-bottom: 1rem;
        }
        p{
            ont-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 1rem;

        }
    }
    .form-control{
        width: 100%;
        padding: .5rem;
        background: #FFFFFF;
        border-radius: 5px;
        border: none;
        margin-bottom: 1rem;
    }
    .opc-otro{
        display: flex;
        .form-control{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #000;
            width: 50%;
            margin-left: 1rem;
            border-radius: 0;
        }

    }
    .sotol{
        padding: 2rem;
        margin-top: 1rem;
    }

    .btn-file {
        background-color: #C6C6C6;
        color: #000;
        padding: 0.5rem 1.5rem;
        border-radius: 0.1rem;
        cursor: pointer;
        margin-left: .7rem;
        border-radius: 5px;
        span{
            margin-right:  .7rem;
        }
    }
    .btn-file-container{
        display: flex;
        align-items: center;
        .btn-file{
            display: flex;
            align-items: center;
        }
    }

    #file-chosen{
        margin-left: 0.3rem;
    }
    .txt-file{
        color: #636363;
        font-size: .9rem;
    }
    .btn-img{
        height: 1.6rem;
        margin: 0 .7rem;
    }
    .select-opc{
        margin-bottom: 4rem;
        .opc{
            input{
                margin-right: 1rem;
            }
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}
.container-menu{
    background: $greenT2;
    .hoja{
        position: absolute;
        right: -49.75%;

        @include media-breakpoint-up(sm) {
            top: 0;
            height: 100%;
        }
        @include media-breakpoint-down(sm) {
            bottom: 0;
        }
    }
    .logo-menu{
        position: absolute;
        left: 2rem;
        top: 3.5rem;
        width: 14rem;
        @include media(lg) {
            left: 11rem;
            transform: none;
            width: 17.5rem;
        }
    }
    .menu{
        margin-bottom: 3rem;

        ul{
            padding: 0;
            /*            @include media-breakpoint-down(sm) {
                            margin-top: 7rem;
                        }*/
            li{
                list-style: none;
                text-transform: uppercase;
                @include media-breakpoint-down(sm) {
                    margin-top: 1rem;
                }
            }
        }
        a{
            color: $light;
            font-size: 2.25rem;
            font-weight: 300;
            letter-spacing: 6px;

            @include media-breakpoint-down(sm) {
                font-size: 1.5rem;
            }
        }
    }
    .btn{
        font-weight: 500;
        margin-right: 0.75rem;
        display: block;
        width: 12rem;
        text-align: center;
        margin-bottom: 1rem;
        @include media(lg) {
            display: inline-block;
            width: auto;
            margin-bottom: 0;
        }
    }

    .btn-primary,
    .btn-secondary{
        border: none;
        padding: 0.5rem 3.5rem;
        border-radius: 1.5rem;
        font-size: 1rem;
        font-weight: 500;
        @include media-breakpoint-down(sm) {
            font-size: .8rem;
            width: 50%;
            padding: 0.5rem 0;
            margin-top: 1rem;
        }
    }
    .btn-primary{
        color: #fff;
        background: $orangeT3;
    }
    .btn-secondary{
        color: #28322B;
        background: #fff;
    }

    .social{
        @include media-breakpoint-down(sm) {
            position: absolute;
            bottom: 5%;
        }
        margin-top: 2rem;
        a{
            color: $light;
            font-size: .7rem;
            letter-spacing: 2px;
            margin-left: .5rem;
            img{
                margin-right: .5rem;
                width: 1rem;
                height: 1rem;
            }
            &:first-child{
                margin-right: 1rem;
            }
        }
    }
    .close{
        img{
            width: 2.5rem;
        }

        @include media(lg) {
            img{
                width: 4.5rem;
            }
        }
    }

}

.verification{
    height: 100vh;
    color: white;
    h4{
        color: $orangeT3;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    .content{
        margin-top: -11rem;
        .logo{
            margin-bottom: 1rem;
        }
        .actions{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .btn{
        padding: .5rem 4rem;
        border-radius: 1.3rem;
        font-weight: 200;
        margin: 0.5rem;
        border: none;
        color: white;
        cursor: pointer;
        transition: all .3s;
        height: 2.5rem;
        &:hover{
            background-color: $orangeT2;
        }
    }
    .btn-secondary{
        background-color: #516254;
    }
    p{
        font-size: 0.8rem;
        line-height: 1rem;
    }
    hr{
        background-color: rgba(239, 234, 218, 0.4);
        opacity: 1;
        height: 2px;
        margin: 1rem;
    }
    .languages{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem 1rem;
        a{
            color: #fff;
            margin-left: 1.5rem;
            text-decoration: underline
        }
    }
    >.row{
        justify-content: center;
    }
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20rem;
        background-image: url('../images/verification/deco-xs.svg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.bg-verification{
    background-image: url('../images/verification/bg.png');
}

@include media(lg){
    .text-md-center{
        text-align: center;
    }
    .text-md-end{
        text-align: right;
    }
    .b-desierto{
        margin-bottom: 6rem;
    }

    .verification{
        h4{
            font-size: 1.5rem;
        }
        .btn{
            padding: .75rem 4rem;
        }
        .languages{
            padding: 2rem;
        }
        &::before{
            background-image: url('../images/verification/deco.svg');
        }
    }
}

@include media-breakpoint-down(sm) {
    .d-none-xs{
        display: none;
    }
    .d-inline-grid-xs{
        display: inline-grid !important;
    }
    .text-xs-center{
        text-align: center;
    }
    .order-xs-0{
        order:0;
    }
    .order-xs-1{
        order:1;
    }
    .order-xs-2{
        order:2;
    }
    .mb-xs-l{
        margin-bottom: 7rem;
    }
    /*    .b-sierra{
            margin-left: -2rem;
        }*/
    .b-desierto{
        img{
            position: relative;
            /*            right: -2rem;*/
            padding: 1rem
        }
    }


}
.modal-x-mark{
    h4{
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
}
.thank-text{
    h3{
        margin-top: 1rem;
        color: $orangeT1;
    }
}
