$grid-columns: 24;

// COLORS
$white: #FFFFFF;
$black: #000000;
$light: #E9E8E1;
$greenT1: #303D33;
$greenT2: #334036;
$greenT3: #2C3930;
$greenT4: #3F3F3F;
$greenT5: #2A342C;
$orangeT1: #CF5843;
$orangeT2: #CE4D37;
$orangeT3: #D35B43;

// FONTS
$fontPrimary: 'Poppins';
