html{
    //font-size: 3.875vw;
    font-size: 14px;
    /*@include media(lg){
        font-size: 1.112vw;
    }*/
}
body{
    font-family: $fontPrimary;
    background-color: $greenT2;
    margin: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
p{
    margin-top: 0;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 2rem;
}

.pusher{
    overflow: hidden;
}

.text-center{
    text-align: center;
}
.text-end{
    text-align: right;
}
.img-fluid{
    max-width: 100%;
}
.m-b-5{
    margin-bottom: 5rem;
}
.m-b-7{
    margin-bottom: 4rem;
    @include media(lg){
        margin-bottom: 5rem;
    }
}
.mb-0{
    margin-bottom: 0!important;
}
.ml-auto{
    margin-left: auto;
}
.btn{
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.5rem 3rem;
    font-size: 0.8rem;
    &.small{
        padding: 0.45rem 2.25rem;
        font-size: 0.7rem;
    }
    &.big{
        font-size: 1.3rem;
        font-weight: 500;
    }
    &.btn-white{
        background: $white;
        color: $greenT1;
    }
    &.btn-light{
        background: $light;
        color: $greenT1;
    }
    &.btn-green{
        background: $greenT1;
        color: $white;
    }
    &.btn-orange{
        background: $orangeT2;
        color: $white;
    }
    &.rounded{
        //border-radius: 30px;
        border-radius: 30px;
    }
    &.circled{
        border-radius: 50px;
    }
}
.p-lg-0{
    @include media(lg){
        padding: 0;
    }
}
.w-100{
    width: 100%;
}
@include media(lg){
    @for $i from 0 through 3 {
        .order-lg-#{$i}{
            order: #{$i};
        }
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.75rem 1rem;
    z-index: 100;
    transition: all .3s;
    .logo{
        @include flex-center-y;
        width: 10rem;
    }
    .actions{
        @include flex-center-y;
        justify-content: flex-end;
        .btn{
            margin: 0 0.4rem;
        }
        .ctas{
            display: none;
        }
    }
    .menu{
        @include flex-center-y;
        margin-left: 1rem;
        img{
            width: 1.75rem;
        }
    }
    .languages{
        a{
            color: white;
            margin: 0 0.5rem;
            text-decoration: underline;
            .active{
                font-weight: 700;
            }
        }
    }
    &.active{
        position: fixed;
        background: $orangeT2;
        padding: 1rem 0.75rem;
    }
    @include media(lg){
        padding: 2.5rem 0.75rem;
        .logo{
            width: 15.2rem;
        }
        .actions{
            .ctas{
                display: block;
            }
        }
        .menu{
            img{
                width: 1.8rem;
            }
        }
        .languages{
            margin: 0 1.1rem 0 2rem;
        }
        &.active{
            padding: 1.1rem 0.75rem;
        }
    }
}
footer{
    background: $greenT2;
    padding: 2rem 0;
    h2{
        color: $orangeT2;
    }
    h3{
        color: $orangeT2;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 6px;
        margin-bottom: 0.5rem;
    }
    a{
        color: $white;
    }
    ul{
        list-style: none;
        padding: 0;
        li{
            margin-bottom: 0.5rem;
        }
    }
    .container{
        max-width: 1000px;
    }
    .suscribe{
        padding: 3.5rem 0 4rem 0;
        h2{
            font-weight: 600;
            margin-bottom: 2.75rem;
            font-size: 1.6rem;
        }
        input{
            padding: 1.25rem 2rem;
            border-radius: 10px;
            border: none;
            margin-right: 0.7rem;
            font-size: 0.8rem;
            width: 100%;
        }
        button{
            border: none;
            padding: 1.15rem 3rem;
            width: 100%;
            font-size: 0.9rem;
        }
    }
    .data{
        padding-top: 2.5rem;
    }
    .payments{
        img{
            margin: 0 0.75rem;
            width: 4rem;
            height: 3rem;
            &.paypal{
                width: 7rem;
            }
            &.ae{
                height: 2.5rem;
            }
            &.visa{
                height: 1.5rem;
            }
        }
    }
    .legals{
        margin-top: 6.5rem;
        text-align: center;
        a,span{
            margin: 0 1rem;
            color: $white;
            font-size: 0.9rem;
        }
    }

    @include media(lg){
        .suscribe{
            padding: 3.5rem 0 7rem 0;
            input{
                width: 61%;
            }
            button{
                width: 37%;
            }
        }
        .payments{
            img{
                width: 5rem;
                height: 3.5rem;
            }
        }
    }
}

.bottle-scroll{
    margin-top: -4rem;
    img{
        display: none;
        margin: auto;
        margin-left: -10%;
        width: 120%;
        &.active{
            display: block;
        }
    }
    @include media(lg){
        margin-top: -7rem;
        img{
            margin-left: auto;
            max-width: 100%;
            width: 37rem;
            transform: translateX(0.75rem);
        }
    }
}
.homepage{
    width: 100%;
    p{
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 200;
    }
    h1{
        color: white;
        font-weight: 300;
        font-size: 3.2rem;
        line-height: 4.1rem;
        margin-bottom: 0.5rem;
    }

    .mt-banner{
        margin-bottom: 1.5rem;
    }

    .banner{
        background: $orangeT1;
        background-position: center bottom;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 8rem 3rem 0 3rem;
        position: relative;
        .container{
            z-index: 1;
            position: relative;
        }
        .hero-wrapper{
            background-image: url('../images/template/hero_x.svg');
            background-position: center bottom 6rem;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .social{
            display: none;
        }
        .bullets{
            display: none;
        }
        &::before{
            content: "";
            @include absolute-cover;
            background-image: url('../images/homepage/bg_banner_xs.png');
            background-position: center bottom 10rem;
            background-size: 100%;
            background-repeat: no-repeat;
            mix-blend-mode: multiply;
        }
        &::after{
            content: "";
            @include absolute-cover;
            background: linear-gradient(transparent, transparent 51%, transparentize($greenT1, 0.33) 62%, $greenT1 74%, $greenT1);
        }
    }
    .about-us{

        background-color: $light;
        background-image: url('../images/template/bg_texture2.png');
        background-size: contain;
        position: relative;
        padding-bottom: 18.1rem;
        p{
            font-weight: 300;
            color: #E7E5DE;
            line-height: 1.4rem;
        }
        h6{
            font-weight: 600;
            color: #fff;
            font-size: 1rem;
        }
        .container{
            max-width: 987px;
            z-index: 1;
            position: relative;
        }
        .header-deco{
            background-color: $greenT1;
            background-image: url('../images/template/bg_persons_xs.svg');
            background-position: center top 1rem;
            background-size: 100%;
            background-repeat: no-repeat;
            height: 12.75rem;
            margin-bottom: -4.75rem;
        }
        .img-pair-wrapper{
            z-index: 1;
            margin-top: -12rem;
            padding: 0 3rem;
            img{
                width: 100%;
                &:last-child{
                    height: 34.5rem;
                    object-fit: cover;
                }
            }
        }
        .image-wrapper{
            padding: 0 3rem;
        }
        .data-wrapper{
            padding: 0 3rem;
        }
        .data-wrappper{
            background: $greenT1;
            position: relative;
            padding: 0 3rem 17rem 3rem;
            .strong-wrapper{
                display: flex;
                align-items: flex-end;
                margin-top: -0.9rem;
                strong{
                    font-size: 7.2rem;
                    line-height: 6rem;
                    font-weight: 300;
                    color: $orangeT1;
                }
                img{
                    width: 14rem;
                    transform: translate(-5.5rem,-0.5rem);
                }
            }
            &::before{
                content: "";
                @include absolute-cover;
                background-image: url('../images/template/bg_texture1.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                mix-blend-mode: color-burn;
                opacity: 0.1;
            }
        }
        .left-wrapper{
            img{
                max-width: 100%;
                width: 30.5rem;
                margin-left: auto;
                display: block;
            }
            .data-wrapper{
                p{
                    color: $greenT2;
                    line-height: 1.7rem;
                }
            }
            .image-wrapper{
                margin-top: 2.75rem;
                margin-bottom: 3.5rem;
                padding-right: 1.1rem;
            }
        }
        .right-wrapper{
            img{
                width: 100%;
                height: 25rem;
                object-fit: cover;
                margin-left: auto;
                margin-right: 1rem;
                display: block;
            }
            .data-wrapper{
                strong{
                    color: $orangeT1;
                    display: block;
                    font-size: 3.4rem;
                    line-height: 3.2rem;
                    font-weight: 300;
                    margin-top: 1.75rem;
                    margin-bottom: 5rem;
                }
                p{
                    color: $greenT2;
                    line-height: 1.7rem;
                }
            }
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            background-image: url('../images/template/bg_persons2.svg');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 40rem;
        }
    }
    .about-sotol{
        position: relative;
        background: $greenT3;
        background-image: url('../images/template/bg_landscape.jpg');
        background-position: center bottom 1.25rem;
        background-size: cover;
        background-repeat: no-repeat;
        color: $white;
        padding-top: 7rem;
        padding-bottom: 15.5rem;
        h2{
            color: $orangeT1;
            font-weight: 300;
            font-size: 4.3rem;
            line-height: 3.5rem;
            margin-bottom: 2.75rem;
        }
        .container{
            z-index: 1;
            position: relative;
            max-width: 1100px;
            padding: 0 3rem;
        }
        .left-wrapper{

        }
        .right-wrapper{
            margin-bottom: 2.8rem;
            img{
                margin-bottom: 2.75rem;
            }
        }
        .sotol-modal{
            display: block;
            position: relative;
            color: white;
            width: 27.8rem;
            max-width: 100%;
            > div{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.75rem 2.5rem;
                font-size: 2.5rem;
                font-weight: 300;
                img{
                    width: 2.5rem;
                }
            }
        }
        &::before{
            content: "";
            background-image: url('../images/template/header_sotol.svg');
            background-size: 269%;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: -4rem;
            width: 100%;
            height: 12rem;
        }
        &::after{
            content: "";
            background-image: url('../images/template/sotol.svg');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: -10.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 14rem;
            height: 14rem;
        }
    }
    .us-wrapper{
        @include background-cover;
        background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
        background-image: url('../images/template/bg_green.jpg');
        margin-top: -1.25rem;
        z-index: 1;
        position: relative;
        .process{
            position: relative;
            color: $light;
            max-width: 1150px;
            h2{
                color: $orangeT2;
                font-weight: 300;

                font-size: 4.6rem;
                line-height: 5rem;
                margin-bottom: 0rem;
                text-align: center;
                + span {
                    color: $orangeT2;
                    font-size: 1.4rem;
                    text-align: center;
                    display: block;
                    margin-bottom: 2.25rem;
                }
            }
            p{
                margin-bottom: 1.8rem;
                line-height: 1.5rem;
                font-size: 1rem;
            }
            .slider{
                h3{
                    font-size: 2.7rem;
                    line-height: 3rem;
                    font-weight: 300;
                    margin-bottom: 1.5rem;
                }
                img{
                    height: 27.5rem;
                    object-fit: cover;
                }
                .data{
                    padding: 0 2rem;
                }
                .image-wrapper{
                    padding: 0 2rem;
                }
            }
            .carousel-inner{
                margin-top: 5rem;

            }
            .carousel{
                max-width: 75%;
                margin-left: 15%;
                /*                min-height: 602px;*/
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .btn-collapse{
                    background: #D4D7C6;
                    border-radius: 22px;
                    width: 90%;
                    margin: auto;
                    text-align: center;
                    color: $orangeT2;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding: 0.75rem 1rem;
                    z-index: 10;
                    position: relative;
                    margin-bottom: 2rem;
                    @include media-breakpoint-down(sm) {
                        position: relative;
                    }
                    &:after{
                        @include media-breakpoint-down(sm) {
                            position: absolute;
                            content: "";
                            height: 100%;
                            width: 10%;
                            right: 4%;
                            top: 0;
                            background-image: url('../images/template/polygon.png');
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .carousel-indicators{
                    position: relative;
                    flex-direction: column;
                    background: #D4D7C6;
                    border-radius: 22px;
                    width: 90%;
                    margin: auto;
                    padding-top: 3rem;
                    margin-top: -4.5rem;
                    margin-bottom: 2rem;
                    button{
                        width: auto;
                        height: auto;
                        background: none;
                        color: $greenT2;
                        opacity: 1;
                        text-indent: 0;
                        font-size: .9rem;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin: 0 1rem;
                    }
                }

                .carousel-control-prev,.carousel-control-next{
                    display: none;
                }
            }
        }
        .why-us{
            background: linear-gradient(rgba(45, 58, 49, 0), $greenT3 30.25%, black);
            color: white;
            padding: 17rem 0 5rem 0;
            z-index: 1;
            position: relative;
            span{
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                display: block;
            }
            h2{
                font-size: 5.5rem;
                line-height: 6rem;
                font-weight: 300;
            }
            .data{
                padding: 0 3rem;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0.5rem;
                background-image: url('../images/template/bg_persons3.svg');
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: 220%;
                width: 100%;
                height: 38rem;
            }
        }
        .sotol{
            margin: auto;
            display: block;
            margin-bottom: 3rem;
            margin-top: -11rem;
            width: 12.5rem;
        }
        &::before{
            content: "";
            background-image: url('../images/template/wave.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 6rem;
            display: block;
        }
    }
    .cardenxe{
        padding-top: 4rem;
        position: relative;
        background: $light;
        .container{
            padding: 0 3rem;
        }
        .sotol{
            margin: auto;
            margin-bottom: 2.4rem;
            display: block;
            width: 17rem;
        }
        .data{
            p{
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
        .bottles{

            a{
                position: relative;
                display: block;
                @include media(lg){
                    height: 40.5rem;
                }

                img{
                    width: 120%;

                    &:first-child{
                        margin-left: -10%;
                        @include media(lg){
                            margin-left: -3.9rem;
                        }
                        &.x{
                            bottom: 10.2rem;
                            left: 8.5rem;
                        }
                        &.y{
                            bottom: 10.2rem;
                            left: 8.5rem;
                        }
                    }
                    &:last-child{
                        margin-left: -10%;
                        @include media(lg){
                            margin-left: 0;
                        }
                        transform: translateX(-16%);
                        &.x{
                            margin-left: -7.9rem;
                            right: 2.2rem;
                            top: 10rem;
                            @include media(lg){
                                top: 28rem;
                            }
                        }
                        &.y{
                            @include media(lg){
                                right: 6.2rem;
                                top: 17rem;
                            }
                            margin-left: -7.9rem;
                            right: 13.2rem;
                            top: 18rem;
                        }
                    }
                    &.x{
                        width: 4rem;
                        position: absolute;
                    }
                    &.y{
                        width: 4rem;
                        position: absolute;
                    }
                }
            }
        }
        h2{
            font-size: 5.5rem;
            line-height: 5rem;
            font-weight: 400;
            color: $orangeT2;
            span{
                color: $greenT1;
            }
        }
        @include media(lg){
            &::before{
                content: "";
                background-image: url('../images/template/bg_persons4-2.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                width: 100%;
                height: 30rem;
                display: block;
                position: absolute;
                bottom: 18rem;
            }
        }
    }
    .ctas{
        text-align: center;
        position: relative;
        padding-bottom: 13rem;
        background: $light;
        h2{
            font-weight: 400;
            font-size: 4rem;
            line-height: 3.35rem;
            color: $greenT3;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.75rem;
            color: $greenT4;
        }
        .data{
            padding-top: 3rem;
            padding-bottom: 4rem;
        }
        .sotol{
            width: 6.25rem;
        }
        .cta-wrapper{
            margin-bottom: 1.75rem;
        }
        &::before{
            content: "";
            background-image: url('../images/template/bg_persons5.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            width: 100%;
            height: 30rem;
            display: block;
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }

    @include media(lg){
        h1{
            font-size: 5.25rem;
            line-height: 5rem;
            margin-bottom: 3rem;
        }
        p{
            font-size: 1rem;
            line-height: 2.1rem;
        }

        .mt-banner{
            margin-top: -7.5rem;
            margin-left: -2rem;
        }

        .banner{
            padding: 0;
            padding-top: 10.6rem;
            .hero-wrapper{
                background-position: right 9.5rem bottom 10rem;
                background-size: 63%;
            }
            .social{
                color: white;
                z-index: 1;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                display: flex;
                margin-right: -5.8rem;
                text-transform: uppercase;
                font-size: 0.7rem;
                letter-spacing: 3px;
                > a{
                    display: flex;
                    align-items: center;
                    margin: 0 0.5rem;
                    color: white;
                    img{
                        margin-right: 0.75rem;
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
            .bullets{
                @include absolute-center-y;
                left: 4.25rem;
                display: block;
                span{
                    display: block;
                    background-color: $white;
                    width: 0.2rem;
                    height: 2.9rem;
                    margin: 0.25rem 0;
                    transition: all .3s;
                    &.active{
                        background-color: $greenT5;
                    }
                }
            }
            &::before{
                background-image: url('../images/homepage/bg_banner.png');
                background-position: center bottom -6.5rem;
            }
        }
        .about-us{
            padding-bottom: 25rem;
            .header-deco{
                background-image: url('../images/template/bg_persons.svg');
                height: 35.75rem;
                margin-bottom: -20.75rem;
            }
            .img-pair-wrapper{
                margin-top: 0;
                padding: 0;
                padding-left: 3rem;
                z-index: 1;
                display: flex;
                align-items: flex-start;
                img{
                    width: 16.75rem;
                    margin: 0 0.7rem;
                    &:last-child{
                        margin-top: 2.9rem;
                    }
                }
            }
            .image-wrapper{
                padding: 1rem;
            }
            .data-wrappper{
                padding-right: 9.5rem;
                padding-left: 12.75rem;
                padding-top: 2.3rem;
                padding-bottom: 5.5rem;
                background: linear-gradient(to bottom, transparent 19.9%, $greenT1 20%, $greenT1 100%);
            }
            .left-wrapper{
                margin-bottom: 3.75rem;
                .data-wrapper{
                    text-align: right;
                    padding-right: 2.5rem;
                }
                .image-wrapper{
                    padding-left: 2rem;
                    margin-top: 0;
                    margin-bottom: 3.5rem;
                    img{
                        max-width: none;
                    }
                }
            }
            .right-wrapper{
                padding: 0 1rem;
                img{
                    width: 28.5rem;
                    height: 36.5rem;
                }
                .data-wrapper{
                    padding-left: 2.5rem;
                    strong{
                        font-size: 4.6rem;
                        line-height: 5.75rem;
                        margin-top: 1rem;
                        margin-bottom: 0;
                    }
                }
            }
            .strong-wrapper{
                strong{
                    font-size: 6rem;
                }
                img{
                    width: 16rem;
                    transform: translateX(-2.5rem);
                }
            }
        }
        .about-sotol{
            padding-bottom: 17rem;
            padding-top: 3rem;
            h2{
                font-size: 4.5rem;
                line-height: 4.3rem;
                margin-bottom: 3.2rem;
            }
            .container{
                padding: 0 1rem;
            }
            .left-wrapper{
                text-align: right;
                padding-left: 4rem;
            }
            &::before{
                background-size: contain;
                top: -12rem;
                width: 100%;
                height: 17rem;
            }
            &::after{
                top: -18rem;
            }
        }
        .us-wrapper{
            .sotol{
                width: 14rem;
            }
            .process{
                h2{
                    font-size: 7.5rem;
                    line-height: 7rem;
                    margin-bottom: 1rem;
                    + span{
                        margin-bottom: 3rem;
                    }
                }
                .slider{
                    .image-wrapper{
                        padding: 0 1rem;
                    }
                    .data{
                        p:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                .carousel{
                    .btn-collapse{
                        display: none;
                    }
                    .carousel-indicators{
                        display: flex;
                        flex-direction: row;
                        margin: 0 -2rem;
                        background: transparent;
                        width: auto;
                        padding-top: 0;
                        button{
                            color: $white;
                            &.active{
                                color: $orangeT2;
                                border-bottom: 2px $orangeT2 solid;
                                padding-bottom: 0.6rem;
                            }
                        }
                    }

                    .carousel-control-prev,.carousel-control-next{
                        opacity: 1;
                        top: 50%;
                        transform: translateY(-50%);
                        bottom: initial;
                        width: 3.5rem;
                        cursor: pointer;
                        display: block;
                        &:hover{
                            rect{
                                fill: $orangeT2;
                            }
                        }
                    }
                    .carousel-control-prev{
                        left: -2.1rem;
                    }
                    .carousel-control-next{
                        right: -3.75rem;
                    }
                }
            }
            .why-us{
                padding: 69rem 0 9rem 0;
                .data{
                    padding-left: 2.5rem;
                }
                &::before{
                    top: 7.5rem;
                    background-size: contain;
                    height: 60rem;
                }
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    background-image: url('../images/homepage/bg_why_us.png');
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    pointer-events: none;
                }
            }
        }
        .cardenxe{
            padding-bottom: 13rem;
            h2{
                font-size: 8rem;
                line-height: 7rem;
                text-align: right;
            }
            .container{
                padding: 0 1rem;
            }
            .bottles{
                position: relative;
                height: 45.5rem;
                margin-top: 4.5rem;
                a{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-21%);
                    &:first-child{
                        transform: translateX(-73%);
                        z-index: 1;
                        .x{
                            left: 10rem;
                            bottom: 12.5rem;
                        }
                    }
                    &:last-child{
                        //transform: translate(-36.5%, -1.5rem);
                        .x{
                            right: 3rem;
                            top: 15rem;
                        }
                    }
                    img{
                        width: 36rem;
                    }
                }
            }
            .btn{
                font-size: 0.95rem;
                font-weight: 500;
            }
            .data{
                padding-left: 2.5rem;
                padding-top: 0.2rem;
                p{
                    margin-bottom: 1.5rem;
                }
            }
        }
        .ctas{
            padding-bottom: 22.5rem;
            .data{
                padding: 0 12rem;
            }
        }
    }
    .medalla{
        position: absolute;
        width: 11rem;
        right: 1%;
        top: 53%;
        @include media(lg){
            width: 17rem;
            top: 11%;
            left: 65%;
        }
    }
}
