<div class="modal fade sotol-modal" id="{{modal}}Modal" tabindex="-1" role="dialog" aria-labelledby="sotolModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap position-relative">
                    <img class="deco" src="{{asset('build/shop/images/modal/1-b/' ~ deco ,'shop')}}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-24 col-12 offset-6 offset-md-0 text-center">
                                <img class="sotol img-fluid" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                            <div class="col-md-24">
                                <h2 class="my-3 text-center">
                                    {{title|raw}}
                                </h2>
                            </div>
                            <div class="col-md-24">
                                <p class="text-center mb-5 ">
                                    {{text|raw}}
                                </p>
                            </div>
                            <div class="col-md-24 mx-auto mb-m">
                                <img class="img-fluid w-100" src="{{asset('build/shop/images/modal/1-b/' ~ img, 'shop')}}">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
