<footer>
    <div class="container">
        <div class="row suscribe">
            <div class="col-md-14 offset-md-5 text-center ">
                <h2>{{"template.suscribe.title"|trans|raw}}</h2>
            </div>
            
            {{ render(controller('App\\Controller\\DefaultController::newsletter')) }}
            
            
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row data">
            <div class="col-12 col-lg-6">
                <h3>ORDERS</h3>
                <ul>
                    <li><a href="#">Return</a></li>
                    <li><a href="#">Shipping & Delivery</a></li>
                    <li><a href="#">Order track</a></li>
                    <li><a href="#">Payment options</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <h3>SOCIAL</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
            <div class="col-lg-12 payments">
                <img class="paypal" src="{{asset('build/shop/images/template/paypal.svg', 'shop')}}" alt="PayPal" title="PayPal">
                <img class="" src="{{asset('build/shop/images/template/mastercard.svg', 'shop')}}" alt="Mastercard" title="Mastercard">
                <img class="visa" src="{{asset('build/shop/images/template/visa.svg', 'shop')}}" alt="Visa" title="Visa">
                <img class="ae" src="{{asset('build/shop/images/template/american_express.svg', 'shop')}}" alt="American Express" title="American Express">
            </div>

            <div class="col-24 legals">
                <a href="#">{{"template.privacy"|trans}}</a>
                <a href="#">{{"template.terms"|trans}}</a>
                <a>CARDENXE@Copyright {{ 'now' | date('Y') }}</a>
            </div>
        </div>
    </div>
</footer>
