<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link  rel="icon"   href="{{asset('build/shop/images/template/cardenxe_ico.ico', 'shop')}}" type="image/ico" />

        <title>{% block title %}Cardenxe{% endblock %}</title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="theme-color" content="#CE4D37">

        {% block metatags %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('shop-entry', null, 'shop') }}
            {# sylius_template_event('sylius.shop.layout.stylesheets') #}
        {% endblock %}

        {{ sylius_template_event('sylius.shop.layout.head') }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1MKSRVR4ZW"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-1MKSRVR4ZW');
        </script>

    </head>

    <body class="pushable">
        {{ sylius_template_event('sylius.shop.layout.before_body') }}
        <div class="pusher">
            {#
                {% block top %}
                    <div id="menu" class="ui large sticky inverted stackable menu">
                        {{ sylius_template_event('sylius.shop.layout.topbar') }}
                    </div>
                {% endblock %}
            #}

            <div class="">
                {% block header %}
                    <header>
                        {{ sylius_template_event('sylius.shop.layout.header') }}
                    </header>
                {% endblock %}

                {# include '@SyliusShop/_flashes.html.twig' #}

                {{ sylius_template_event('sylius.shop.layout.before_content') }}

                {% block content %}
                {% endblock %}

                {{ sylius_template_event('sylius.shop.layout.after_content') }}
            </div>

            {% block footer %}
                {% include '@SyliusShop/_footer.html.twig' %}
            {% endblock %}

            {% include '@SyliusShop/home/_modal.html.twig' %}
        </div>

        {% block javascripts %}
            {# sylius_template_event('sylius.shop.layout.javascripts') #}
            {{ encore_entry_script_tags('shop-entry', null, 'shop') }}
        {% endblock %}

        {# include '@SyliusUi/Modal/_confirmation.html.twig' #}
        {{ sylius_template_event('sylius.shop.layout.after_body') }}
    </body>
</html>
