<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cardenxe</title>

    {{ encore_entry_link_tags('shop-entry', null, 'shop') }}
</head>
<body>
    {% block body %}{% endblock %}

    {{ encore_entry_script_tags('shop-entry', null, 'shop') }}
</body>
</html>
