

{{ form_start(form, {'action': path('community-from'), 'attr': {'class': 'send', 'data-container': 'modal'}}) }}
<div class="col-md-24 text-center">
    {{ form_widget(form.email,{'attr': { 'class': ' form-control',  'class':'form-control-plaintext form-control'}}) }}
</div>
<div class="col-md-24">
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary btn-orange" type="submit" name="button">{{"modals.popup.textpopbtn"|trans}}</button>
</div>
<div class="col-24 complete-modal my-5 d-none thank-text">
    <h3 class="text-center">
        {{"modals.landing.thank"|trans|raw}}
    </h3>
</div>
{{ form_end(form) }}




