{% extends '@SyliusShop/Verification/base.html.twig' %}
{% block body %}
    <div class="container-fluid verification bg-verification overflow-hidden flex-center-y">
        <div class="col-md-23 languages d-flex align-items-center justify-content-end mb-5 mt-3">
            <a data-lang="es" href="#">ESP</a>
            <a data-lang="en" href="#">ENG</a>
        </div>

        <div class="row h-100 content">
            <div class="col-md-7 col-22 mx-auto mt-3">
                <div class="row">
                    <div class="col-md-24">
                        <img class="img-fluid logo" src="{{asset('build/shop/images/verification/logo.svg', 'shop')}}">
                    </div>
                    <div class="col-md-24">
                        <h4 class="text-center my-4 v-title">
                            {{"verification.question"|trans}}
                        </h4>
                    </div>
                    <div class="col-md-24 actions">
                        {# form_start(form, {'attr': {'class': ''}}) #}
                            {# form_widget(form.submit, { 'label': "verification.answer1"|trans, 'attr': {'class': 'btn btn-secondary'}}) #}
                        {# form_end(form) #}
                        <a href="/lang/en_US" class="btn btn-secondary v-go" data-trans="Debe ser mayor de edad para acceder a este sitio.">
                            {{"verification.answer1"|trans}}
                        </a>
                        <a href="#" class="btn btn-secondary" data-trans="Debe ser mayor de edad para acceder a este sitio.">
                            {{"verification.answer2"|trans}}
                        </a>
                    </div>
                    <hr class="my-4 col-22 offset-1">
                    <div class="col-md-22 offset-1">
                        <p class="text-center v-text">
                            {{"verification.notice"|trans}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
