{% extends '@SyliusShop/Verification/base.html.twig' %}
{% block body %}
    <div class="container-fluid bg-modal-b modal-wrap">
        <div class="row ">
            <div class="col-md-22 offset-md-1  languages  mb-5 mt-3">
                <div class="row header-landing">
                    <div class="col-md-5 col-12">
                        <a class="" href="{{ path('sylius_shop_homepage') }}"><img src="{{asset('build/shop/images/template/logo-lan.png', 'shop')}}" alt="CARDENXE" class="img-fluid" /></a>
                    </div>
                    <div class="col-md-5  col-12 idiom">
                        <a class="btn btn-primary" href="/">Go to website</a>
                        <a href="/es_MX/community">ESP</a>
                        <a href="/en_US/community">ENG</a>
                    </div>
                </div>
            </div>
            <section class="landing-wrap m-auto">
                <div class="col">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-5 col-14 mx-auto text-md-center">
                                <img class="sotol img-fluid" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                            <div class="col-md-20 mb-4 mx-auto">
                                <h1 class="text-center my-3 text-md-center">{{"modals.landing.title"|trans|raw}}</h1>
                            </div>
                            <div class="col-md-12 col-20 mb-4 mx-auto">
                                <p class="text-center">{{"modals.landing.text2"|trans}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-20 mx-auto mt-4">
                                {{ form_start(register, {'action': path('interest'), 'attr': {'class': 'send', 'data-container': 'landing'}}) }}
                                <div class="row form">
                                    <div class="col-md-12 position-relative">
                                        {{ form_widget(register.name,{'attr': { 'class': ' form-control', 'class':'form-control'}}) }}<span class="required-c">*</span>
                                    </div>
                                    <div class="col-md-12  position-relative">
                                        {{ form_widget(register.email,{'attr': { 'class': ' form-control',  'class':'form-control'}}) }}<span class="required-c">*</span>
                                    </div>
                                    <div class="col-md-8 d-none">
                                        {{ form_widget(register.phone,{'attr': { 'class': ' form-control',  'class':'form-control'}}) }}
                                    </div>
                                    <div class="col-md-24 position-relative">
                                        {{ form_widget(register.city,{'attr': { 'class': ' form-control',  'class':'form-control'}}) }}<span class="required-c">*</span>
                                    </div>
                                    <div class="col-md-8 d-none">
                                        {{ form_widget(register.instagram,{'attr': { 'class': ' form-control',  'class':'form-control'}}) }}
                                    </div>
                                    <div class="col-md-24">
                                        {{ form_widget(register.propose,{'attrs': {'rows': 6, 'class':'form-control'}}) }}
                                    </div>
                                    <div class="col-md-14 btn-file-container">
                                        <span id="file-chosen" class="txt-file">   Send us your shot</span>
                                        {{ form_widget(register.imageFile,{'attr': { 'class': ' file-img', 'id':'actual-btn'}}) }}
                                    </div>
                                    <div class="col-24 my-5">
                                        <hr >
                                    </div>
                                    <div class="col-24">
                                        <h6>
                                            {{"modals.landing.Interests"|trans|raw}}
                                        </h6>
                                        <div class="select-opc row">
                                            {% for child in register.interestC %}
                                                {% if  loop.last %}
                                                    <div class="col-md-16 col-24">
                                                        <div class="opc opc-otro">
                                                            {{ form_widget(child,{'attr':  {'class': ' '}}) }}
                                                            {{ form_label(child) }}
                                                            {{ form_widget(register.otro,{'attr': { 'class': ''}}) }}
                                                        </div>
                                                    </div>
                                                {% else  %}
                                                    <div class="col-md-8 col-12">
                                                        <div class="opc">
                                                            {{ form_widget(child,{'attr':  { 'class': ' '}}) }}
                                                            {{ form_label(child) }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {{ form_rest(register) }}
                                        <button type="submit" class="btn btn-primary w-100 m-t-1 mb-m">{{"homepage.ctas.community.title"|trans|raw}}</button>

                                        <div class="col-24 complete-landing my-5 d-none thank-text">
                                            <h3 class="text-center">
                                                {{"modals.landing.thank"|trans|raw}}
                                            </h3>
                                        </div>
                                        {{ form_end(register) }}
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 mt-4  order-xs-1">
                                        <img class="img-fluid" src="{{asset('build/shop/images/modal/landing/bandera.jpg', 'shop')}}">
                                    </div>
                                    <div class="col-md-12 p-4 flex-center-y mt-4 pl-essence order-xs-0">
                                        <div>
                                            <h4>{{"modals.landing.subtitle1"|trans}}</h4>
                                            <p>{{"modals.landing.text1"|trans|raw}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-24  mx-auto mt-4 order-xs-2">
                                        <img class="img-fluid" style="margin-top: 5%;" src="{{asset('build/shop/images/modal/landing/FotoD2paisahe.jpg', 'shop')}}">
                                    </div>
                                </div>




                                <div class="col-24 my-5">
                                    <hr>
                                </div>
                                <div class="col-24 text-xs-center">
                                    <h5 class="text-center">
                                        {{"modals.landing.manifesto"|trans|raw}}
                                    </h5>
                                    {{"modals.landing.textm"|trans|raw}}
                                </div>
                                <div class="col-md-10 offset-md-7 ">
                                    <a class="btn btn-primary w-100" href="/">Go to website</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <img class="img-fluid p-0" src="{{asset('build/shop/images/modal/cardenxe/backlineas.svg', 'shop')}}">

        </div>
    </div>
</div>
</div>
{% endblock %}
