

{{ form_start(newsletter, {'action': path('newsletter'), 'attr': {'class': 'send', 'data-container': 'newsletter'}}) }}   
{{ form_widget(newsletter.email,{'attr': { 'class': ' form-control',  'class':'form-control-plaintext form-control'}}) }}
<button type="submit" class="btn btn-orange" type="submit" name="button">{{"template.suscribe.button"|trans}}</button>

<div class="col-24 complete-newsletter my-5 d-none thank-text">
    <h3 class="text-center">
        {{"modals.landing.thank"|trans|raw}}
    </h3>
</div>

{{ form_end(newsletter) }}




