<section id="about-us" class="about-us">
    <div class="container-fluid m-b-7">
        <div class="row">
            <div class="col-24 header-deco"></div>
        </div>

        <div class="row">
            <div class="col-lg-13 order-lg-1 data-wrappper">
                <div>
                    {{"homepage.about_us.text1"|trans|raw}}
                    {#<div class="strong-wrapper">
                        <strong>{{"homepage.about_us.strongText1"|trans}}</strong>
                        <img src="{{asset('build/shop/images/template/sotol.svg', 'shop')}}">
                    </div>#}
                </div>
            </div>
            <div class="col-lg-8 offset-lg-3 order-lg-0 img-pair-wrapper">
                <img class="img-fluid" src="{{asset('build/shop/images/homepage/about1.jpg', 'shop')}}">
                <img class="img-fluid" src="{{asset('build/shop/images/homepage/about2.jpg', 'shop')}}">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row left-wrapper">
            <div class="col-lg-12 data-wrapper flex-center-y">
                <div>
                    {{"homepage.about_us.text2"|trans|raw}}
                </div>
            </div>
            <div class="col-lg-12 image-wrapper">
                <img src="{{asset('build/shop/images/homepage/about3.jpg', 'shop')}}">
            </div>
        </div>

        <div class="row right-wrapper">
            <div class="col-lg-12 order-lg-1 data-wrapper">
                <p>{{"homepage.about_us.text3"|trans}} <strong>{{"homepage.about_us.strongText3"|trans}}</strong></p>
            </div>
            <div class="col-lg-12 order-lg-0 image-wrapper">
                <img class="img-fluid" src="{{asset('build/shop/images/homepage/about4.jpg', 'shop')}}">
            </div>
        </div>
    </div>
</section>
