<section id="about-sotol" class="about-sotol">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 left-wrapper">
                <h2>{{"homepage.about_sotol.title"|trans}}</h2>
                {{"homepage.about_sotol.text1"|trans|raw}}
            </div>
            <div class="col-lg-11 offset-lg-1 right-wrapper">
                <img class="img-fluid" src="{{asset('build/shop/images/homepage/sotol.jpg', 'shop')}}" alt="Sotol" title="Sotol">
                {{"homepage.about_sotol.text2"|trans|raw}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 offset-lg-1">
                <a class="sotol-modal ml-auto" href="#" data-bs-toggle="modal" data-bs-target="#terroirModal">
                    <img class="img-fluid" src="{{asset('build/shop/images/homepage/terroir.jpg', 'shop')}}" alt="{{"homepage.about_sotol.terroir"|trans}}" title="{{"homepage.about_sotol.terroir"|trans}}">
                    <div>
                        <span>{{"homepage.about_sotol.terroir"|trans}}</span>
                        <img src="{{asset('build/shop/images/icons/more.svg', 'shop')}}" alt="{{"template.read"|trans}}" title="{{"template.read"|trans}}">
                    </div>
                </a>
            </div>
            <div class="col-lg-11">
                <a class="sotol-modal" href="#" data-bs-toggle="modal" data-bs-target="#plantModal">
                    <img class="img-fluid" src="{{asset('build/shop/images/homepage/plant.jpg', 'shop')}}" alt="{{"homepage.about_sotol.plant"|trans}}" title="{{"homepage.about_sotol.plant"|trans}}">
                    <div>
                        <span>{{"homepage.about_sotol.plant"|trans}}</span>
                        <img src="{{asset('build/shop/images/icons/more.svg', 'shop')}}" alt="{{"template.read"|trans}}" title="{{"template.read"|trans}}">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
