<section id="banner" class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 order-lg-1 flex-center-y">
                <div class="mt-banner">
                    <h1 class="bottle-title" data-title1="{{"homepage.banner.title"|trans}}" data-title2="{{"homepage.banner.title2"|trans}}" data-title3="{{"homepage.banner.title3"|trans}}">{{"homepage.banner.title"|trans}}</h1>
                    <a class="btn btn-green" href="#">{{"template.cta1"|trans}}</a>
                </div>
            </div>
            <div class="col-lg-13 order-lg-0 hero-wrapper">
                <div class="bottle-scroll">
                    {% for i in 1..36 %}
                        <img class="{% if loop.first %}active{% endif %}" src="{{asset('build/shop/images/bottle/Cardenxe_darker.1.' ~ i ~ '-min.png', 'shop')}}">
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div class="social">
        <a href="https://www.facebook.com/cardenxe/" target= _blank >
            <img src="{{asset('build/shop/images/icons/instagram.svg', 'shop')}}">
            <span>Instagram</span>
        </a>
        <a href="https://www.instagram.com/cardenxesotol/?hl=en" target= _blank>
            <img src="{{asset('build/shop/images/icons/facebook.svg', 'shop')}}">
            <span>Facebook</span>
        </a>
    </div>

    <div class="bullets bottle-bullets">
        <span class="active"></span>
        <span></span>
        <span></span>
    </div>
</section>
