<section id="collection" class="cardenxe">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <img class="sotol" src="{{asset('build/shop/images/template/sotol.svg', 'shop')}}" alt="">
            </div>

            <div class="col-lg-11 offset-lg-1">
                <h2>{{"homepage.cardenxe.title"|trans|raw}}</h2>
            </div>
            <div class="col-lg-10 data">
                {{"homepage.cardenxe.text"|trans|raw}}
            </div>

            <div class="col-24 bottles d-inline-grid-xs position-relative">
                <a href="#" data-bs-toggle="modal" data-bs-target="#desiertoModal" class="order-xs-1">
                    <img class="" src="{{asset('build/shop/images/template/desierto1.png', 'shop')}}" alt="{{"template.desierto"|trans}}" title="{{"template.desierto"|trans}}">
                    <img class="x" src="{{asset('build/shop/images/icons/x.svg', 'shop')}}">
                </a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#sierraModal" class="order-xs-0">
                    <img class="" src="{{asset('build/shop/images/template/sierra1.png', 'shop')}}" alt="{{"template.sierra"|trans}}" title="{{"template.sierra"|trans}}">
                    <img class="y" src="{{asset('build/shop/images/icons/x.svg', 'shop')}}">
                </a>
                <img class="medalla" src="{{asset('build/shop/images/modal/collection/medallas.png', 'shop')}}">
            </div>

            <div class="col-24 text-center">
                <a href="#" class="btn btn-orange circled" data-bs-toggle="modal" data-bs-target="#collectionModal">{{"homepage.cardenxe.button"|trans}}</a>
            </div>
        </div>
    </div>
</section>
