<section id="cocktails" class="ctas">
    <div class="container-fluid">
        <div class="row cta-wrapper">
            <div class="col-lg-12 order-lg-1 data flex-center-y">
                <div>
                    <img class="sotol" src="{{asset('build/shop/images/template/sotol.svg', 'shop')}}" alt="">
                    <h2>{{"homepage.ctas.cocktails.title"|trans}}</h2>
                    <p>{{"homepage.ctas.cocktails.text"|trans}}</p>
                    <a href="#" class="btn btn-green" data-bs-toggle="modal" data-bs-target="#cocktailsModal">{{"template.view"|trans}}</a>
                </div>
            </div>
            <div class="col-lg-12 order-lg-0 p-lg-0">
                <img class="img-fluid" src="{{asset('build/shop/images/homepage/cocktails.jpg', 'shop')}}" alt="Cocktails" title="Cocktails">
            </div>
        </div>

        <div class="row cta_wrapper">
            <div class="col-lg-12 data flex-center-y">
                <div>
                    <img class="sotol" src="{{asset('build/shop/images/template/sotol.svg', 'shop')}}" alt="">
                    <h2>{{"homepage.ctas.community.title"|trans}}</h2>
                    <p>{{"homepage.ctas.community.text"|trans}}</p>
                    <a href="#" class="btn btn-green" data-bs-toggle="modal" data-bs-target="#landingpageModal">{{"template.viewmore"|trans}}</a>
                </div>
            </div>
            <div class="col-lg-12 p-lg-0">
                <img class="img-fluid" src="{{asset('build/shop/images/homepage/community.jpg', 'shop')}}" alt="Community" title="Community">
            </div>
        </div>
    </div>
</section>
