<div class="modal fade" id="plantModal" tabindex="-1" role="dialog" aria-labelledby="plantModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close_white.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap bg-modal-a">
                    <div class="container">
                        <div class="row pt-l mb-title">
                            <div class="col-md-12">
                                <h2 class="text-md-end me-3">{{"modals.plant.title"|trans|raw}}</h2>
                            </div>
                            <div class="col-md-12 flex-center-y data">
                                <div>
                                    {{"modals.plant.text"|trans|raw}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-fluid w-100" src="{{asset('build/shop/images/modal/1/1.jpg', 'shop')}}">
                            </div>
                            <div class="col-md-12 mt-3">
                                <img class="img-fluid w-100" src="{{asset('build/shop/images/modal/1/22.jpg', 'shop')}}">
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid ">
                        <div class="row hoja">
                            <div class="col-12">
                                <img class=" img-l" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                            <div class="col-12">
                                <img class="img-r" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade terroir" id="terroirModal" tabindex="-1" role="dialog" aria-labelledby="terroirModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close_white.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap bg-modal-a">
                    <div class="container">
                        <div class="row pt-l mb-title">
                            <div class="col-md-24">
                                <h2 class="text-md-center">{{"modals.terroir.title"|trans|raw}}</h2>
                            </div>
                            <div class="col-md-17 offset-lg-3">
                                <p class="text-md-center txt-white">{{"modals.terroir.text1"|trans}}</p>
                            </div>
                            <div class="col-md-11 offset-lg-1">
                                <img class="img-fluid w-100" src="{{asset('build/shop/images/modal/2/1.jpg', 'shop')}}">
                            </div>
                            <div class="col-md-11">
                                <img class="img-fluid w-100" src="{{asset('build/shop/images/modal/2/2.jpg', 'shop')}}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-22 offset-lg-1">
                                {{"modals.terroir.text2"|trans|raw}}
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid ">
                        <div class="row hoja">
                            <div class="col-12">
                                <img class=" img-l" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                            <div class="col-12">
                                <img class=" img-r" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% include '@SyliusShop/Layout/Modals/_sotol.html.twig' with {
    'modal': 'desierto',
    'title': "modals.desierto.title"|trans,
    'text': "modals.desierto.text"|trans,
    'deco': 'back_lineas.svg',
    'img': '1.jpg'
} %}

{% include '@SyliusShop/Layout/Modals/_sotol.html.twig' with {
    'modal': 'sierra',
    'title': "modals.sierra.title"|trans,
    'text': "modals.sierra.text"|trans,
    'deco': 'back_lineas_b.svg',
    'img': '1-b.jpg'
} %}

<div class="modal fade collection" id="collectionModal" tabindex="-1" role="dialog" aria-labelledby="collectionModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap">
                    <section class="bg-modal-b collection-wrap position-relative overflow-hidden">
                        <img class="deco-top position-absolute" src="{{asset('build/shop/images/modal/collection/back_lineas.svg', 'shop')}}">
                        <div class="container">
                            <div class="row position-relative">
                                <div class="col-md-24 col-10 mx-auto text-md-center">
                                    <img class="sotol img-fluid" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                                </div>
                                <div class="col-md-24 mb-2">
                                    <h1 class="text-center mt-3 mb-0 text-md-center">{{"modals.collection.title"|trans|raw}}</h1>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 mx-auto ">
                                        <img class="w-100 b-sierra" src="{{asset('build/shop/images/modal/collection/medallas.png', 'shop')}}">
                                    </div>    
                                </div>

                                <div class="col-md-12 mb-m">
                                    <img class="w-100 b-sierra" src="{{asset('build/shop/images/modal/collection/botella_new.png', 'shop')}}">
                                </div>
                                <div class="col-md-12 mb-m flex-center-y">
                                    <div>
                                        <h2>{{"modals.collection.sierra.title"|trans|raw}}</h2>
                                        <p>{{"modals.collection.sierra.text"|trans|raw}}</p>
                                        <a href="" class="btn btn-orange rounded">{{"template.cta1"|trans}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="bg-modal-a position-relative collection-wrap overflow-hidden">
                        <img class="deco-bottom position-absolute" src="{{asset('build/shop/images/modal/collection/back_lineas2.svg', 'shop')}}">
                        <div class="container  ">
                            <div class="row pt-m position-relative">
                                <div class="col-md-12 mb-l flex-center-y order-xs-1 ">
                                    <div class="mb-xs-l">
                                        <h2 class="txt-white">{{"modals.collection.desierto.title"|trans|raw}}</h2>
                                        <p class="txt-white">{{"modals.collection.desierto.text"|trans|raw}}</p>
                                        <a href="#" class="btn btn-orange rounded">{{"template.cta1"|trans}}</a>
                                    </div>
                                </div>
                                <div class="col-md-12 p-5 order-xs-0">
                                    <img class="b-desierto w-100 " src="{{asset('build/shop/images/modal/collection/botella2_new.png', 'shop')}}">
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade essence" id="essenceModal" tabindex="-1" role="dialog" aria-labelledby="essenceModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap bg-modal-b position-relative">
                    <div class="container caddenxe-wrap">
                        <div class="row">
                            <div class="col-24 mx-auto text-center mt-5 mb-3">
                                <img class="sotol" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                            <div class="col-24 mb-4">
                                <h1 class="text-center my-3 text-md-center">{{"modals.essence.title"|trans|raw}}</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mt-4">
                                <img class="img-fluid" src="{{asset('build/shop/images/modal/cardenxe/a.jpg', 'shop')}}">
                            </div>
                            <div class="col-md-12 p-4 flex-center-y mt-4 pl-essence">
                                <div>
                                    <h4>{{"modals.essence.subtitle1"|trans}}</h4>
                                    <p>{{"modals.essence.text1"|trans}}</p>
                                </div>
                            </div>

                            <hr class="col-24 my-5 ">
                        </div>

                        <div class="row">
                            <div class="col-md-12  order-lg-1 mt-4">
                                <img class="img-fluid" src="{{asset('build/shop/images/modal/cardenxe/b3.png', 'shop')}}">
                            </div>
                            <div class="col-md-12 order-lg-0 p-4 flex-center-y mt-4 pr-essence">
                                <div>
                                    <h4>{{"modals.essence.subtitle2"|trans}}</h4>
                                    <p class="mb-5">{{"modals.essence.text2"|trans}}</p>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#landingpageModal" class="btn btn-orange rounded big js-close js-modal-modal" data-modal-close="#essenceModal">{{"modals.essence.button2"|trans}} </a>
                                </div>
                            </div>

                            <hr class="col-24 my-5 offset-1 order-lg-2">
                        </div>

                        <div class="row">
                            <div class="col-md-12  mt-4">
                                <img class="img-fluid" src="{{asset('build/shop/images/modal/cardenxe/c.jpg', 'shop')}}">
                            </div>
                            <div class="col-md-12 p-4 flex-center-y mt-4 pl-essence">
                                <div>
                                    <h4>{{"modals.essence.subtitle3"|trans}}</h4>
                                    <p class="mb-5">{{"modals.essence.text3"|trans}}</p>
                                    <p class="mb-5">{{"modals.essence.text3-2"|trans}}</p>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#landingpageModal" class="btn btn-orange rounded big js-close js-modal-modal" data-modal-close="#essenceModal">{{"modals.essence.button3"|trans}} </a>
                                </div>
                            </div>

                            <hr class="col-24 my-5 offset-1">
                        </div>

                        <div class="row">
                            <div class="col-md-12 order-lg-1  mt-4">
                                <img class="img-fluid" src="{{asset('build/shop/images/modal/cardenxe/d.jpg', 'shop')}}">
                            </div>
                            <div class="col-md-12 order-lg-0 p-4 flex-center-y mt-4 pr-essence">
                                <div>
                                    <h4>{{"modals.essence.subtitle4"|trans}}</h4>
                                    <p class="mb-5">{{"modals.essence.text4"|trans}}</p>
                                    {#<a href="#" class="btn btn-orange rounded big">{{"modals.essence.button4"|trans}}</a>#}
                                </div>
                            </div>
                        </div>
                    </div>

                    <img class="img-fluid mt-5" src="{{asset('build/shop/images/modal/cardenxe/backlineas.svg', 'shop')}}">
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cocktails" id="cocktailsModal" tabindex="-1" role="dialog" aria-labelledby="cocktailsModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap bg-modal-b position-relative">
                    <div class="container caddenxe-wrap">
                        <div class="row">
                            <div class="col-24 mx-auto text-center mt-5 mb-3">
                                <img class="sotol" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                            <div class="col-24 mb-4">
                                <h1 class="text-center  my-3 text-md-center">{{"modals.cocktails.title"|trans}}</h1>
                                <span class="subtitle">{{"modals.cocktails.subtitle"|trans}}</span>
                            </div>
                        </div>
                    </div>

                    <img class="img-fluid mt-5" src="{{asset('build/shop/images/modal/cardenxe/backlineas.svg', 'shop')}}">
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal container-menu fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close_white.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered position-relative " role="document">
        <div class="modal-content">
            <div class="modal-body bg-menu flex-center-y">
                <div class="row w-100">
                    <div class="col-md-11 offset-3 flex-center-y">
                        <div>
                            <img class="img-fluid mt-5 logo-menu" src="{{asset('build/shop/images/template/logo_cardenxe.svg', 'shop')}}">
                            <div class="menu ">
                                <ul>
                                    <li><a class="scroll-link" href="#banner">{{"modals.menu.home"|trans}}</a></li>
                                    <li><a class="scroll-link" href="#about-us">{{"modals.menu.about_us"|trans}}</a></li>
                                    <li><a class="scroll-link" href="#about-sotol">{{"modals.menu.about_sotol"|trans}}</a></li>
                                    <li><a class="scroll-link" href="#collection">{{"modals.menu.collection"|trans}}</a></li>
                                    <li><a class="scroll-link" href="#cocktails">{{"modals.menu.cocktails"|trans}}</a></li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-orange circled small">{{"template.cta1"|trans}}</a>
                            <a href="#" class="btn btn-light circled small ms-md-3 js-modal-modal" data-modal-close="#menuModal" data-bs-toggle="modal" data-bs-target="#landingpageModal">{{"template.cta2"|trans}}</a>
                            <section class="social flex-center-y">
                                <a href="https://www.instagram.com/cardenxesotol/?hl=en" target= _blank class=" flex-center-y">
                                    <img src="{{asset('build/shop/images/icons/instagram.svg', 'shop')}}" alt="Instagram" title="Instagram">
                                    INSTAGRAM
                                </a>
                                <a href="https://www.facebook.com/cardenxe/" target= _blank class=" flex-center-y ms-4">
                                    <img src="{{asset('build/shop/images/icons/facebook.svg', 'shop')}}" alt="Facebook" title="Facebook">
                                    FACEBOOK
                                </a>
                            </section>
                        </div>
                    </div>

                    <img class="img-fluid hoja" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cocktails" id="cocktailsModal" tabindex="-1" role="dialog" aria-labelledby="cocktailsModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap bg-modal-b position-relative">
                    <div class="container caddenxe-wrap">
                        <div class="row">
                            <div class="col-24 mx-auto text-center mt-5 mb-3">
                                <img class="sotol" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                            <div class="col-24 mb-4">
                                <h1 class="text-center  my-3 text-md-center">{{"modals.cocktails.title"|trans}}</h1>
                                <span class="subtitle">{{"modals.cocktails.subtitle"|trans}}</span>
                            </div>
                        </div>
                    </div>

                    <img class="img-fluid mt-5" src="{{asset('build/shop/images/modal/cardenxe/backlineas.svg', 'shop')}}">
                </section>
            </div>
        </div>
    </div>
</div>


<!--Modal popup-->
<div class="modal fade popupModal" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModal" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered popup" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class=" bg-modal-popup">
                    <div class="containerpopup">
                        <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
                            <img src="{{asset('build/shop/images/icons/close_white.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
                        </a>
                        <div class="row">
                            <img class="sotopopup" src="{{asset('build/shop/images/template/sotol.svg', 'shop')}}" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-24">
                                <h2 class="text-center">{{"modals.popup.title"|trans|raw}}</h2>
                            </div>
                            <div class="col-md-20 offset-md-2 mx-auto ">
                                <p class="text-center txt-white">{{"modals.popup.text"|trans}}</p>
                            </div>
                        </div>
                        <div class="row">

                            {{ render(controller('App\\Controller\\DefaultController::communityFrom')) }}

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!--Modal suscribe-->
{#<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModal" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close_white.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>
    <div class="modal-dialog modal-dialog-centered popup" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap bg-modal-popup">
                    <div class="containerpopup">
                        <div class="row">
                            <img class="sotopopup" src="{{asset('build/shop/images/template/sotol.svg', 'shop')}}" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-24">
                                <h2 class="text-md-center">{{"modals.popup.title"|trans|raw}}</h2>
                            </div>
                            <div class="col-md-24">
                                <p class="text-md-center txt-white">{{"modals.popup.text"|trans}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <form  method="POST" id="frm">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="email" name="" placeholder="Enter your Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <button class="btn btn-orange" type="submit" name="button">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>#}

<div class="modal fade essence modal-x-mark" id="landingpageModal" tabindex="-1" role="dialog" aria-labelledby="landingpageModalTitle" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap bg-modal-b position-relative">
                    <div class="container landing-wrap ">

                        <div class="row">
                            <div class="col-md-5 col-14 mx-auto text-md-center">
                                <img class="sotol img-fluid" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                            </div>
                            <div class="col-md-20 mb-4 mx-auto">
                                <h1 class="text-center my-3 text-md-center">{{"modals.landing.title"|trans|raw}}</h1>
                            </div>
                            <div class="col-md-12 col-20 mb-4 mx-auto">
                                <p class="text-center">{{"modals.landing.text2"|trans}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-16 mx-auto mt-4">
                                {{ form_start(register, {'action': path('interest'), 'attr': {'class': 'send', 'data-container': 'landing'}}) }}


                                <div class="row form">
                                    <div class="col-md-12">
                                        {{ form_widget(register.name,{'attr': { 'class': ' form-control', 'class':'form-control'}}) }}
                                    </div>
                                    <div class="col-md-12">
                                        {#<input type="text" id="name" name="email" required placeholder="Email" class="form-control">#}

                                        {{ form_widget(register.email,{'attr': { 'class': ' form-control',  'class':'form-control'}}) }}
                                    </div>
                                    <div class="col-md-8 d-none">

                                        {{ form_widget(register.phone,{'attr': { 'class': ' form-control',  'class':'form-control'}}) }}

                                        {#<input type="text" id="name" name="email" required placeholder="Phone number" class="form-control">#}
                                    </div>
                                    <div class="col-md-24">
                                        {#<input type="text" id="name" name="email" required placeholder="City" class="form-control">#}
                                        {{ form_widget(register.city,{'attr': { 'class': ' form-control',  'class':'form-control'}}) }}
                                    </div>
                                    <div class="col-md-8 d-none">

                                        {{ form_widget(register.instagram,{'attr': { 'class': ' form-control',  'class':'form-control'}}) }}
                                        {#<input type="text" id="name" name="email" required placeholder="IG HANDLE" class="form-control">#}
                                    </div>
                                    <div class="col-md-24">
                                        {{ form_widget(register.propose,{'attrs': {'rows': 6, 'class':'form-control'}}) }}
                                        {#<textarea rows="6"  placeholder="Propose Your cocktail" class="form-control">
                                        </textarea>#}
                                    </div>

                                    <div class="col-md-14 btn-file-container">
                                        {#<input type="file" id="actual-btn" hidden/>#}

                                        <span id="file-chosen" class="txt-file">   Send us your shot</span>
                                        {#<label for="actual-btn" class="d-flex align-items-center btn-file ">
                                            <img class="btn-img" src="{{asset('build/shop/images/template/file.png', 'shop')}}"><span > Add file</span>
                                        </label>#}
                                        {{ form_widget(register.imageFile,{'attr': { 'class': ' file-img', 'id':'actual-btn'}}) }}

                                    </div>
                                    <div class="col-24 my-5">
                                        <hr >
                                    </div>
                                    <div class="col-24">
                                        <h6>
                                            {{"modals.landing.Interests"|trans|raw}}
                                        </h6>
                                        <div class="select-opc row">
                                            {% for child in register.interestC %}
                                                {% if  loop.last %}
                                                    <div class="col-md-16 col-24">
                                                        <div class="opc opc-otro">
                                                            {{ form_widget(child,{'attr':  {'class': ' '}}) }}
                                                            {{ form_label(child) }}
                                                            {{ form_widget(register.otro,{'attr': { 'class': ''}}) }}
                                                        </div>
                                                    </div>
                                                {% else  %}
                                                    <div class="col-md-8 col-12">
                                                        <div class="opc">
                                                            {{ form_widget(child,{'attr':  { 'class': ' '}}) }}
                                                            {{ form_label(child) }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {{ form_rest(register) }}
                                        <button type="submit" class="btn btn-primary w-100 m-t-1 m-b-5">{{"homepage.ctas.community.title"|trans|raw}}</button>

                                        <div class="col-24 complete-landing my-5 d-none thank-text">
                                            <h3 class="text-center">
                                                {{"modals.landing.thank"|trans|raw}}
                                            </h3>
                                        </div>

                                        {{ form_end(register) }}

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-10 mt-4 offset-md-2 order-xs-1">
                                <img class="img-fluid" src="{{asset('build/shop/images/modal/landing/bandera.jpg', 'shop')}}">
                            </div>
                            <div class="col-md-10 p-4 flex-center-y mt-4 pl-essence order-xs-0">
                                <div>
                                    <h4>{{"modals.landing.subtitle1"|trans}}</h4>
                                    <p>{{"modals.landing.text1"|trans|raw}}</p>
                                </div>
                            </div>
                            <div class="col-md-20 mx-auto mt-4 order-xs-2">
                                <img class="img-fluid" style="margin-top: 5%;" src="{{asset('build/shop/images/modal/landing/FotoD2paisahe.jpg', 'shop')}}">
                            </div>

                            <div class="col-md-20 offset-md-2 my-5">
                                <hr>
                            </div>

                            <div class="col-md-20 offset-md-2 ">
                                <h5 class="text-center">
                                    {{"modals.landing.manifesto"|trans|raw}}
                                </h5>


                                {{"modals.landing.textm"|trans|raw}}
                            </div>

                        </div>

                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <img class="img-fluid p-0" src="{{asset('build/shop/images/modal/cardenxe/backlineas.svg', 'shop')}}">

                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>


<div class="modal fade essence" id="landingpageModal2" tabindex="-1" role="dialog" aria-labelledby="landingpageModal2Title" aria-hidden="true">
    <a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">
        <img src="{{asset('build/shop/images/icons/close.svg', 'shop')}}" alt="{{"template.close"|trans}}" title="{{"template.close"|trans}}">
    </a>
    <div class="modal-dialog modal-dialog-centered dialog2" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section class="modal-wrap bg-modal-b position-relative">
                    <div class="container landing-wrap">
                        <div class="row">
                            <div class="col-md-12 mt-4">
                                <img class="img-fluid" src="{{asset('build/shop/images/modal/landing/bandera.jpg', 'shop')}}">
                            </div>
                            <div class="col-md-12 p-4 flex-center-y mt-4 pl-essence">
                                <div>
                                    <h4>{{"modals.landing.subtitle1"|trans}}</h4>
                                    <p >{{"modals.landing.text1"|trans|raw}}</p>
                                </div>
                            </div>
                            <div class="col-md-24 mt-4">
                                <img class="img-fluid" style="margin-top: 5%;" src="{{asset('build/shop/images/modal/landing/FotoD2paisahe.jpg', 'shop')}}">
                            </div>
                        </div>
                        <div class="col-24 flex-center-y">
                            <img class="sotol img-fluid" src="{{asset('build/shop/images/modal/1/hoja.svg', 'shop')}}">
                        </div>
                        <div class="col-24 mb-4">
                            <h1 class="text-center my-3 text-md-center">{{"modals.landing.title"|trans|raw}}</h1>
                            <p class="text-center sub">{{"modals.landing.text2"|trans}}</p>
                        </div>
                        {{form(frmregister)}}
                        <div class="row">
                            <div class="col-24 flex-center-y">
                                <div>
                                    <h4 class="text-center">{{"modals.landing.manifesto"|trans}}</h4>
                                    <p class="mb-5">{{"modals.landing.textm"|trans|raw}}</p>
                                    <a href="#" class="btn btn-orange rounded big">{{"modals.essence.button2"|trans}}</a>
                                </div>
                            </div>

                            <hr class="col-24 my-5 offset-1 order-lg-2">
                        </div>

                        <img class="img-fluid mt-5" src="{{asset('build/shop/images/modal/cardenxe/backlineas.svg', 'shop')}}">
                        </section>
                    </div>
            </div>
        </div>
    </div>
