<div class="us-wrapper">
    <img class="sotol" src="{{asset('build/shop/images/template/sotol.svg', 'shop')}}" alt="">

    <section class="container process">
        <div class="row">
            <div class="col-24">
                <h2>{{"homepage.process.title"|trans}}</h2>
                <span>{{"homepage.process.subtitle"|trans}}</span>
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide process-carousel" data-bs-ride="carousel">
            <a class="btn-collapse " data-bs-toggle="collapse" data-bs-target="#collapseProcess" href="#collapseProcess" role="button" aria-expanded="false" aria-controls="collapseProcess">
               {{"homepage.process.plant.title"|trans}}<span class="glyphicon glyphicon-chevron-down"></span>
             </a>
            <div class="carousel-indicators collapse collapse-process" id="collapseProcess">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">{{"homepage.process.plant.selector"|trans}}</button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">{{"homepage.process.harvesting.selector"|trans}}</button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">{{"homepage.process.cooking.selector"|trans}}</button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4">{{"homepage.process.crush.selector"|trans}}</button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5">{{"homepage.process.fermentation.selector"|trans}}</button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6">{{"homepage.process.destillation.selector"|trans}}</button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7">{{"homepage.process.blending.selector"|trans}}</button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row slider">
                        <div class="col-lg-14 data flex-center-y order-lg-1">
                            <div>
                                <h3>{{"homepage.process.plant.title"|trans}}</h3>
                                {{"homepage.process.plant.text"|trans|raw}}
                            </div>
                        </div>
                        <div class="col-lg-9 offset-lg-1 image-wrapper flex-center-y order-lg-0">
                            <img class="img-fluid" src="{{asset('build/shop/images/homepage/process/plant_growth.jpg', 'shop')}}" alt="{{"homepage.process.plant.selector"|trans}}" title="{{"homepage.process.plant.selector"|trans}}">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row slider">
                        <div class="col-lg-14 data flex-center-y order-lg-1">
                            <div>
                                <h3>{{"homepage.process.harvesting.title"|trans}}</h3>
                                {{"homepage.process.harvesting.text"|trans|raw}}
                            </div>
                        </div>
                        <div class="col-lg-9 offset-lg-1 image-wrapper flex-center-y order-lg-0">
                            <img class="img-fluid" src="{{asset('build/shop/images/homepage/process/harvesting.jpg', 'shop')}}" alt="{{"homepage.process.harvesting.selector"|trans}}" title="{{"homepage.process.harvesting.selector"|trans}}">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row slider">
                        <div class="col-lg-14 data flex-center-y order-lg-1">
                            <div>
                                <h3>{{"homepage.process.cooking.title"|trans}}</h3>
                                {{"homepage.process.cooking.text"|trans|raw}}
                            </div>
                        </div>
                        <div class="col-lg-9 offset-lg-1 image-wrapper flex-center-y order-lg-0">
                            <img class="img-fluid" src="{{asset('build/shop/images/homepage/process/cooking.jpg', 'shop')}}" alt="{{"homepage.process.cooking.selector"|trans}}" title="{{"homepage.process.cooking.selector"|trans}}">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row slider">
                        <div class="col-lg-14 data flex-center-y order-lg-1">
                            <div>
                                <h3>{{"homepage.process.crush.title"|trans}}</h3>
                                {{"homepage.process.crush.text"|trans|raw}}
                            </div>
                        </div>
                        <div class="col-lg-9 offset-lg-1 image-wrapper flex-center-y order-lg-0">
                            <img class="img-fluid" src="{{asset('build/shop/images/homepage/process/crush.jpg', 'shop')}}" alt="{{"homepage.process.crush.selector"|trans}}" title="{{"homepage.process.crush.selector"|trans}}">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row slider flex-center-y order-lg-0">
                        <div class="col-lg-14 data flex-center-y order-lg-1">
                            <div>
                                <h3>{{"homepage.process.fermentation.title"|trans}}</h3>
                                {{"homepage.process.fermentation.text"|trans|raw}}
                            </div>
                        </div>
                        <div class="col-lg-9 offset-lg-1 image-wrapper">
                            <img class="img-fluid" src="{{asset('build/shop/images/homepage/process/fermentation.jpg', 'shop')}}" alt="{{"homepage.process.fermentation.selector"|trans}}" title="{{"homepage.process.fermentation.selector"|trans}}">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row slider">
                        <div class="col-lg-14 data flex-center-y order-lg-1">
                            <div>
                                <h3>{{"homepage.process.destillation.title"|trans}}</h3>
                                {{"homepage.process.destillation.text"|trans|raw}}
                            </div>
                        </div>
                        <div class="col-lg-9 offset-lg-1 image-wrapper flex-center-y order-lg-0">
                            <img class="img-fluid" src="{{asset('build/shop/images/homepage/process/distillation2.jpg', 'shop')}}" alt="{{"homepage.process.destillation.selector"|trans}}" title="{{"homepage.process.destillation.selector"|trans}}">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row slider">
                        <div class="col-lg-14 data flex-center-y order-lg-1">
                            <div>
                                <h3>{{"homepage.process.blending.title"|trans}}</h3>
                                {{"homepage.process.blending.text"|trans|raw}}
                            </div>
                        </div>
                        <div class="col-lg-9 offset-lg-1 image-wrapper flex-center-y order-lg-0">
                            <img class="img-fluid" src="{{asset('build/shop/images/homepage/process/blending.jpg', 'shop')}}" alt="{{"homepage.process.blending.selector"|trans}}" title="{{"homepage.process.blending.selector"|trans}}">
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <svg width="56" height="56" viewBox="0 0 56 56" fill="none">
                  <rect x="56" y="56" width="56" height="56" transform="rotate(180 56 56)" fill="#384A3D"/>
                  <path d="M19 27.5L31.75 20.1388L31.75 34.8612L19 27.5Z" fill="#DADADA"/>
              </svg>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <svg width="56" height="56" viewBox="0 0 56 56" fill="none">
                  <rect width="56" height="56" fill="#384A3D"/>
                  <path d="M37 28.5L24.25 35.8612L24.25 21.1388L37 28.5Z" fill="#DADADA"/>
              </svg>
            </button>
        </div>
    </section>

    {% include '@SyliusShop/home/_why_us.html.twig' %}
</div>
