<section class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 offset-lg-11 data">
                <h2>{{"homepage.why_us.title"|trans}}</h2>
                {{"homepage.why_us.text"|trans|raw}}
                <a href="#" class="btn btn-white circled" data-bs-toggle="modal" data-bs-target="#essenceModal">{{"homepage.why_us.button"|trans}}</a>
            </div>
        </div>
    </div>
</section>
