{% extends '@SyliusShop/layout.html.twig' %}


{% block content %}
    <div class="homepage">
        {% include '@SyliusShop/home/_banner.html.twig' %}
        {% include '@SyliusShop/home/_about_us.html.twig' %}
        {% include '@SyliusShop/home/_about_sotol.html.twig' %}
        {% include '@SyliusShop/home/_process.html.twig' %}
        {% include '@SyliusShop/home/_cardenxe.html.twig' %}
        {% include '@SyliusShop/home/_ctas.html.twig' %}

        {# sylius_template_event('sylius.shop.homepage') #}
    </div>
{% endblock %}
