<div class="col-12 actions">
    <a class="btn btn-white small ctas" href="#">{{"template.cta1"|trans}}</a>
    <a class="btn btn-green small ctas" href="#" data-bs-toggle="modal" data-bs-target="#landingpageModal">{{"template.cta2"|trans}}</a>

    <div class="languages">
        <a href="/es_MX">ESP</a>
        <a class="active" href="/en_US">ENG</a>
    </div>

    <a class="menu" href="#" data-bs-toggle="modal" data-bs-target="#menuModal">
        <img class="" src="{{asset('build/shop/images/icons/menu.svg', 'shop')}}" alt="Menu" title="Menu">
    </a>
    {{ sylius_template_event('sylius.shop.layout.header.content') }}
</div>
