<div class="col-12 flex-center-y">
    <a class="" href="{{ path('sylius_shop_homepage') }}"><img src="{{asset('build/shop/images/template/logo_cardenxe.svg', 'shop')}}" alt="CARDENXE" class="logo" /></a>
</div>
